<div class="ui box transparent" [attr.data-img]="img">
  <div class="backgroung img" [ngStyle]="{'background-image': 'url(' + img + ')'}"></div>
  <div class="ui block inner">
    <div class="head bold">
      <span>About Artist</span>
    </div>
    <div class="ui three stackable special cards">
      <div class="centered fluid card" style="width: calc(33.33333333% + 0.8em);">
        <div class="blurring dimmable image cover-art actionable">
          <img src="{{img}}" asyc>
        </div>
        <div class="content">
          <div class="header">{{name}}</div>
        </div>
      </div>

      <div class="centered fluid card" style="padding: 0 20px; width: calc(33.33333333% + 15em);">
        <div class="content">
          <div class="separator-container">
            <!-- <div class="separator-line"></div> -->
            <div class="separator-text">{{bio}}</div>
            <!-- <div class="separator-line"></div> -->
          </div>
          <div class="meta">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
