<header class="artist-header" style="background-image: url('assets/img/header/Marron 5.jpg');">
  <h1 class="large">What is Hot now? Weekend Groove Playlist</h1>
  <div class="header-buttons">
    <button class="big ui button green">PLAY ALL</button>
  </div>
</header>

<div class="ui box transparent">
  <div class="head song">
    <span>SONGS</span>
    <div class="ui buttons">
      <button class="ui button active">New</button>
      <button class="ui button">Popular</button>
      <button class="ui button">Trend</button>
    </div>
    <div class="ui icon right floated small button last active">
      <i class="angle right icon"></i>
    </div>
    <div class="ui icon right floated small button active">
      <i class="angle left icon"></i>
    </div>
  </div>

  <div class="ui six stackable special cards">
    <div class="centered fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer transition visible active">
          <div class="content">
            <div class="center">
              <button class="ui basic circular massive icon button"><i class="play icon"></i></button>
            </div>
          </div>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/en/5/53/Maroon_5_-_V_%28Official_Album_Cover%29.png">
      </div>
      <div class="content">
        <div class="header">V</div>
        <div class="meta">
          <span class="date">2014</span>
        </div>
      </div>
    </div>

    <div class="centered fluid card">
      <div class="blurring dimmable image">
        <div class="ui dimmer transition">
          <div class="content">
            <div class="center">
              <button class="ui basic circular massive icon button"><i class="play icon"></i></button>
            </div>
          </div>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/en/5/53/Maroon_5_-_V_%28Official_Album_Cover%29.png">
      </div>
      <div class="content">
        <div class="header">V (Delux)</div>
        <div class="meta">
          <span class="date">2014</span>
        </div>
      </div>
    </div>

    <div class="centered fluid card">
      <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
      </div>
      <div class="content">
        <div class="header">Overexposed</div>
        <div class="meta">
          <span class="date">2012</span>
        </div>
      </div>
    </div>
    <div class="centered fluid card">
      <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
      </div>
      <div class="content">
        <div class="header">Overexposed Commentary</div>
        <div class="meta">
          <span class="date">2012</span>
        </div>
      </div>
    </div>
    <div class="centered fluid card">
      <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
      </div>
      <div class="content">
        <div class="header">Overexposed (Delux)</div>
        <div class="meta">
          <span class="date">2012</span>
        </div>
      </div>
    </div>
    <div class="centered fluid card">
      <div class="image">
        <img src="https://lastfm-img2.akamaized.net/i/u/770x0/bbf019744c23450f80c16a492c6917e0.jpg">
      </div>
      <div class="content">
        <div class="header">Songs About Jane</div>
        <div class="meta">
          <span class="date">2002</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui box transparent">
  <div class="head" style="margin-bottom: 18px;">
    <span>Popular Artist You May Also Like</span>

    <div class="ui right floated small button last active">
      Show All
    </div>
    <div class="ui icon right floated small button active">
      <i class="angle right icon"></i>
    </div>
    <div class="ui icon right floated small button active">
      <i class="angle left icon"></i>
    </div>
  </div>

  <div class="ui six stackable link special cards popular-artist">
    <div class="centered fluid card">
      <div class="content top">
        <i class="right floated star icon active"></i>
      </div>
      <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/53/Maroon_5_-_V_%28Official_Album_Cover%29.png">
      </div>
      <div class="content bottom">
        <div class="header">Overexposed</div>
        <div class="meta">
          <span class="date">2012</span>
        </div>
      </div>
    </div>
    <div class="centered fluid card">
      <div class="content top">
        <i class="right floated star icon"></i>
      </div>
      <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/53/Maroon_5_-_V_%28Official_Album_Cover%29.png">
      </div>
      <div class="content bottom">
        <div class="header">Overexposed</div>
        <div class="meta">
          <span class="date">2012</span>
        </div>
      </div>
    </div>
    <div class="centered fluid card">
      <div class="content top">
        <i class="right floated star icon"></i>
      </div>
      <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
      </div>
      <div class="content bottom">
        <div class="header">Overexposed</div>
        <div class="meta">
          <span class="date">2012</span>
        </div>
      </div>
    </div>
    <div class="centered fluid card">
      <div class="content top">
        <i class="right floated star icon active"></i>
      </div>
      <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
      </div>
      <div class="content bottom">
        <div class="header">Overexposed Commentary</div>
        <div class="meta">
          <span class="date">2012</span>
        </div>
      </div>
    </div>
    <div class="centered fluid card">
      <div class="content top">
        <i class="right floated star icon"></i>
      </div>
      <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
      </div>
      <div class="content bottom">
        <div class="header">Overexposed (Delux)</div>
        <div class="meta">
          <span class="date">2012</span>
        </div>
      </div>
    </div>
    <div class="centered fluid card">
      <div class="content top">
        <i class="right floated star icon"></i>
      </div>
      <div class="image">
        <img src="https://lastfm-img2.akamaized.net/i/u/770x0/bbf019744c23450f80c16a492c6917e0.jpg">
      </div>
      <div class="content bottom">
        <div class="header">Songs About Jane</div>
        <div class="meta">
          <span class="date">2002</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui stackable two column grid">
  <div class="column">
    <div class="ui box transparent">
      <div class="head" style="margin-bottom: 18px;">
        <span>Most Popular This Week</span>
      </div>
      <table class="ui very basic celled table">
        <tbody>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://is4-ssl.mzstatic.com/image/thumb/Music122/v4/4a/e5/dd/4ae5dd20-f3a0-579d-2338-bdb355df04e8/source/1200x630bb.jpg">
            </td>
            <td class="collapsing">1</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>Cold</td>
            <td>
              <span>Cold(Hot Shade  Mike Perry Remix)</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://upload.wikimedia.org/wikipedia/en/5/53/Maroon_5_-_V_%28Official_Album_Cover%29.png">
            </td>
            <td class="collapsing">2</td>
            <td class="collapsing">
              <i class="active checkmark icon"></i>
            </td>
            <td>Maps</td>
            <td>
              <span>V</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="empty heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://upload.wikimedia.org/wikipedia/en/5/53/Maroon_5_-_V_%28Official_Album_Cover%29.png">
            </td>
            <td class="collapsing">3</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>Sugar</td>
            <td>
              <span>V</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
            </td>
            <td class="collapsing">4</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>Daylight</td>
            <td>
              <span>Overexposed</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="empty heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
            </td>
            <td class="collapsing">5</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>Payphone</td>
            <td>
              <span>Overexposed</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="empty heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="8">
              <div class="ui float center floated menu">
                <a class="browse item">
                  SHOW MORE
                  <i class="angle down icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="column">
    <div class="ui box transparent">
      <div class="head" style="margin-bottom: 18px;">
        <span>Most Recommended</span>
      </div>
      <table class="ui very basic celled table">
        <tbody>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://is4-ssl.mzstatic.com/image/thumb/Music122/v4/4a/e5/dd/4ae5dd20-f3a0-579d-2338-bdb355df04e8/source/1200x630bb.jpg">
            </td>
            <td class="collapsing">1</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>Cold</td>
            <td>
              <span>Cold(Hot Shade  Mike Perry Remix)</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://upload.wikimedia.org/wikipedia/en/5/53/Maroon_5_-_V_%28Official_Album_Cover%29.png">
            </td>
            <td class="collapsing">2</td>
            <td class="collapsing">
              <i class="active checkmark icon"></i>
            </td>
            <td>Maps</td>
            <td>
              <span>V</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="empty heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://upload.wikimedia.org/wikipedia/en/5/53/Maroon_5_-_V_%28Official_Album_Cover%29.png">
            </td>
            <td class="collapsing">3</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>Sugar</td>
            <td>
              <span>V</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
            </td>
            <td class="collapsing">4</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>Daylight</td>
            <td>
              <span>Overexposed</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="empty heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
          <tr>
            <td class="collapsing">
              <img class="ui mini spaced image" src="https://upload.wikimedia.org/wikipedia/en/7/77/Maroon_5_-_Overexposed.png">
            </td>
            <td class="collapsing">5</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>Payphone</td>
            <td>
              <span>Overexposed</span>
            </td>
            <td class="collapsing">3:40</td>
            <td class="collapsing">
              <i class="empty heart icon"></i>
            </td>
            <td class="collapsing">
              <i class="ellipsis horizontal icon"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="8">
              <div class="ui float center floated menu">
                <a class="browse item">
                  SHOW MORE
                  <i class="angle down icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
