
.ui.box {
  border: none;
  background: #F2F3F5;
  padding: 1em 2em 0.5em 2em;
  margin: 2rem 0rem;
  border-radius: .28571429rem;
}

.ui.box.transparent {
  background: none transparent;
}

.ui.box.transparent.song-list {
  padding: 0.5em;
}

.ui.box .head {
  box-shadow: none;
  vertical-align: middle;
  font-size: 1em;
  padding: .6em 0 0 0;
  cursor: auto;
  text-align: inherit;
  color: rgba(0, 0, 0, .87);
  vertical-align: inherit;
  font-weight: 700;
  text-transform: none;
  border-bottom: none;
  border-left: none;
  margin-bottom: 18px;
}

.ui.box.transparent .head span {
  font-size: 1.5em;
  font-weight: 300;
  padding-left: 5px;
}

.ui.box.transparent .head.bold span {
  font-size: 1.2em;
  font-weight: 500;
  padding-left: 5px;
  text-transform: capitalize;
}

.ui.box.transparent .head .button.last {
  padding-right: 15px;
}

.ui.box .head .button {
  background: transparent;
  font-weight: 300;
  padding: .78571429em .5em .78571429em;
  text-transform: uppercase;
}


.ui.stackable.cards {
  margin: 0;
  margin-top: -2px;
}

.ui.cards>.card {
  font-size: 1em;
  border: none;
  box-shadow: none;
  background: transparent;
}

.ui.cards>.card>:only-child {
  border-radius: 0rem !important;
}

.ui.cards>.card>.content {
  padding: 0.3em 0.3em;
}

.ui.cards>.card>.image {
  border-radius: 0!important;
}

.ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 400;
  font-size: 0.95em;
  margin-top: -0.21425em;
  line-height: 1.28571429em;
}

.ui.cards>.card .meta {
  font-size: 0.85em;
  color: rgba(0, 0, 0, .4);
}

/*******************************************************************************/

.card {
  font-size: 1em;
  border: none;
  box-shadow: none !important;
  background: transparent;
}

.card>:only-child {
  border-radius: 0rem !important;
}
