<header [hidden]="aURL != '/browse'" class="artist-header" style="background-image: url('http://d1i3xayf43lpeg.cloudfront.net/58l7lmmaka1i/2jqTg1i70ce8G6yUyIi624/77fcf976d461fd96715da306b0afec34/cover.jpg');">
  <h1 class="large">What is Hot now? <br> Weekend Groove Playlist</h1>
  <div class="header-buttons">
    <button class="big ui button green">PLAY ALL</button>
  </div>
  <div class="ui center aligned container">
    <div class="ui secondary pointing menu">
      <a class="active item">Featured</a>
      <a class="item">Genres & Moods</a>
      <a class="item">Discover</a>
    </div>
  </div>
</header>

<div class="ui box transparent">
  <div class="head bold">
    <span>{{ aURL=='/browse'?'New Albums and Singles':'New '+aURL.replace('/','') }}</span>
    <!-- <span>{{ aURL=='/browse'?'New Albums and Singles':'New'+aURL.replace('/')}}</span> -->
    <div class="ui buttons" [hidden]="aURL != '/browse'">
      <button class="ui button active">New</button>
      <button class="ui button">Popular</button>
      <button class="ui button">Trend</button>
    </div>
    <div class="ui icon right floated small button last active" [hidden]="aURL != '/browse'">
      <i class="angle right icon"></i>
    </div>
    <div class="ui icon right floated small button active" [hidden]="aURL != '/browse'">
      <i class="angle left icon"></i>
    </div>
  </div>

  <div class="ui six stackable special cards">
    <app-song-card *ngFor='let s of newReleases | newReleases:aURL | slice:0:(aURL == "/browse")?6:48 ; let i=index' [song]='s' [name]="s.name"></app-song-card>
  </div>
</div>

<div class="ui box transparent" [hidden]="aURL != '/browse'">
  <div class="head" style="margin-bottom: 18px;">
    <span>Popular Artist You May Also Like</span>

    <div class="ui right floated small button last active">
      Show All
    </div>
    <div class="ui icon right floated small button active">
      <i class="angle right icon"></i>
    </div>
    <div class="ui icon right floated small button active">
      <i class="angle left icon"></i>
    </div>
  </div>

  <div class="ui six stackable link special cards popular-artist">
    <app-artist-card *ngFor='let a of artistList | slice:0:6 ; let i=index' [artist]='a' [id]="a.name"></app-artist-card>
  </div>
</div>

<div class="ui box transparent" [hidden]="aURL != '/browse'">
  <div class="head" style="margin-bottom: 18px;">
    <span>Spotify Playlists</span>

    <div class="ui right floated small button last active">
      Show All
    </div>
    <div class="ui icon right floated small button active">
      <i class="angle right icon"></i>
    </div>
    <div class="ui icon right floated small button active">
      <i class="angle left icon"></i>
    </div>
  </div>

  <div class="ui six stackable special cards playlist">
    <app-playlist-card *ngFor='let p of spotifyPlaylist | newReleases:aURL | slice:0:6 ; let i=index' [playlist]='p' [id]="p.name"></app-playlist-card>
  </div>
</div>

<div class="ui stackable two column grid" [hidden]="aURL != '/browse'">
  <div class="column">
    <div class="ui box transparent song-list">
      <div class="head" style="margin-bottom: 18px;">
        <span>Most Popular This Week</span>
      </div>
      <table class="ui very basic celled table">
        <tbody>
          <tr *ngFor='let song of newReleases | slice:6:11; let i=index;'>
            <td class="collapsing">
              <img class="ui mini spaced image" src="{{ song.images[0].url }}">
            </td>
            <td class="collapsing">{{i+1}}</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>{{ song.name }}</td>
            <td>
              <span>{{ song.artists[0].name }}</span>
            </td>
            <td class="collapsing">
              <i class="heart icon"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="8">
              <div class="ui float center floated menu">
                <a class="browse item">
                  SHOW MORE
                  <i class="angle down icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="column">
    <div class="ui box transparent song-list">
      <div class="head" style="margin-bottom: 18px;">
        <span>Most Recommended</span>
      </div>
      <table class="ui very basic celled table">
        <tbody>
          <tr *ngFor='let song of newReleases | slice:11:16; let i=index'>
            <td class="collapsing">
              <img class="ui mini spaced image" src="{{ song.images[0].url }}">
            </td>
            <td class="collapsing">{{i+1}}</td>
            <td class="collapsing">
              <i class="plus icon"></i>
            </td>
            <td>{{ song.name }}</td>
            <td>
              <span>{{ song.artists[0].name }}</span>
            </td>
            <td class="collapsing">
              <i class="heart icon"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="8">
              <div class="ui float center floated menu">
                <a class="browse item">
                  SHOW MORE
                  <i class="angle down icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
