[hidden] {
    display: none !important;
}
/************************************************************************************************************************/
header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

header.artist-header {
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: 50%;
  padding-left: 0px;
  padding-top: 140px;
  padding-bottom: 22px;
  margin-top: 0px;
  margin-left: -68px;
  margin-right: -68px;
}

header.artist-header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent -30%, rgba(208, 28, 181, 0.31));
}

header.artist-header>* {
  position: relative;
}

header.artist-header h1.large {
  font-size: 4.5em;
  color: #fff;
}

header.artist-header h1 {
  font-weight: 700;
  margin: 0 auto;
  max-width: 70%;
  display: block;
  text-align: left;
}

.header-buttons {
  text-align: center;
  margin-bottom: 30px;
  margin-left: -800px;
}

.header-buttons .ui.button {
  color: #fff;
  cursor: pointer;
  margin-top: 1em;
  display: inline-block;
  margin-bottom: 0;
  font-size: .82em;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 0;
  border-radius: 500px;
  padding: 13px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  letter-spacing: 2px;
  min-width: 130px;
  white-space: normal;
  will-change: transform;
  text-transform: uppercase;
  line-height: 1.6;
  vertical-align: middle;
  user-select: none;
}

.button.green {
  background-color: #2ebd59;
  padding: 11px 44px 12px;
}

.button.green:focus, .button.green:hover {
  background-color: #1ed760;
}

.button.black {
  padding: 11px 44px 12px;
  background: hsla(0, 0%, 9%, .7);
  color: #fff;
  -webkit-transition: none 33ms cubic-bezier(.3, 0, .7, 1);
  transition: none 33ms cubic-bezier(.3, 0, .7, 1);
  -webkit-transition-property: box-shadow, color, background-color, -webkit-transform;
  transition-property: box-shadow, color, background-color, -webkit-transform;
  transition-property: transform, box-shadow, color, background-color;
  transition-property: transform, box-shadow, color, background-color, -webkit-transform;
  box-shadow: inset 0 0 0 2px #a0a0a0;
}

.button.black:hover {
  box-shadow: inset 0 0 0 2px #fff, 0 0 0 1px transparent;
}

.header-buttons .ui.button:focus, .header-buttons .ui.button:hover {
  -webkit-transform: scale(1.035);
  transform: scale(1.035);
}

.ui.container {
  width: 400px;
  margin-left: auto!important;
  margin-right: auto!important;
}

.ui.secondary.pointing.menu {
  width: 100%;
  padding: 20px 0;
}

.ui.secondary.pointing.menu a.item {
  border: 0;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .08em;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, .5);
  margin: .8em;
  padding: .8em .8em 0;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.ui.secondary.pointing.menu a.item:hover {
  color: #fff;
}

.ui.secondary.pointing.menu .active.item {
  color: #fff;
}

.ui.secondary.pointing.menu .active.item:after {
  transform: inherit;
  border: none;
  left: 0;
  content: '';
  height: 1.41px;
  background-color: #1ed760;
  width: 1.4em;
  position: relative;
  top: .1em;
  display: block;
  margin: 0 auto;
}


/************************************************************************************************************************/

.ui.table {
  border: none;
  background: #F2F3F5;
  padding: 1em 2em 0.5em 2em;
}

.ui.box.transparent>.ui.table {
  background: none transparent;
  padding: 0 !important;
}

.ui.celled.table tbody tr td {
  border: none;
}

.ui.celled.table tbody tr:not(:last-child) td {
  border-bottom: 1px solid rgba(34, 36, 38, .1);
}

.ui.table thead th {
  padding: .6em .78571429em;
}

.ui.table tbody td {
  padding: .3em .78571429em;
  text-align: inherit;
}

.ui.table tbody td > i.icon:hover {
  color: #CB1C4E;
}

.ui.table tbody td > i.plus.icon:hover::before {
  content: "\f00c";
}

.ui.table thead th span, .ui.box .head span {
  margin: 0 20px 0 5px;
}

.ui.table thead th>.ui.buttons .button, .ui.table thead th>.button, .ui.box .head .button {
  background: transparent;
  font-weight: 300;
  padding: .78571429em .5em .78571429em;
  text-transform: uppercase;
}

i.icon.active, .ui.active.button, .ui.celled.table tbody tr>td:nth-child(2) {
  color: #CB1C4E;
}

.ui.box.transparent>.ui.table tfoot th {
  padding-top: 8px;
}

.ui.box.transparent>.ui.table tfoot th .ui.float.center.menu {
  left: -40%;
  box-shadow: none;
  border: none;
}

.ui.box.transparent>.ui.table tfoot th .ui.float.center.menu .item {
  background: transparent;
  font-weight: 300;
  font-size: smaller;
  text-transform: uppercase;
}

.ui.box.transparent>.ui.table tfoot th .ui.float.center.menu .item .icon {
  padding-left: 12px;
}


/************************************************************************************************************************/

.ui.box {
  border: none;
  background: #F2F3F5;
  padding: 1em 2em 0.5em 2em;
  margin: 2rem 0rem;
  border-radius: .28571429rem;
}

.ui.box.transparent {
  background: none transparent;
}

.ui.box .head {
  box-shadow: none;
  vertical-align: middle;
  font-size: 1em;
  padding: .6em 0 0 0;
  cursor: auto;
  text-align: inherit;
  color: rgba(0, 0, 0, .87);
  vertical-align: inherit;
  font-weight: 700;
  text-transform: none;
  border-bottom: none;
  border-left: none;
}

.ui.box.transparent .head span {
  font-size: 1.5em;
  font-weight: 300;
  padding-left: 5px;
}

.ui.box.transparent .head.bold span {
  font-size: 1.2em;
  font-weight: 500;
  padding-left: 5px;
  text-transform: capitalize;
}

.ui.box.transparent .head .button.last {
  padding-right: 15px;
}

.ui.stackable.cards {
  margin: 0;
  margin-top: -2px;
}

.ui.cards>.card {
  font-size: 1em;
  border: none;
  box-shadow: none;
  background: transparent;
}

.ui.cards>.card>:only-child {
  border-radius: 0rem !important;
}

.ui.cards>.card>.content {
  padding: 0.3em 0.3em;
}

.ui.cards>.card>.image {
  border-radius: 0!important;
}

.ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 400;
  font-size: 0.95em;
  margin-top: -0.21425em;
  line-height: 1.28571429em;
}

.ui.cards>.card .meta {
  font-size: 0.85em;
  color: rgba(0, 0, 0, .4);
}

.ui.basic.massive.circular.icon.button {
  height: 64px;
  width: 64px;
  border: 1px solid #a0a0a0;
  background: none transparent;
  outline: none;
  transition: all .3s cubic-bezier(0, 0, 0, 2.41);
}

.ui.basic.massive.circular.icon.button>.icon {
  border-color: #fff;
  color: #fff;
  margin-top: -2px !important;
  padding: 0px 5px;
  transform: scale(1.5);
}

.ui.basic.massive.button:hover {
  border-color: #fff !important;
  background: none transparent !important;
  transform: scale(1.2);
}

.ui.basic.massive.button:focus {
  background: none transparent !important;
}


/************************************************************************************************************************/

.float.center {
  float: right;
  position: relative;
  left: -50%;
  /* or right 50% */
  text-align: left;
}
