.ui.menu {
    margin-top: 0rem;
    border: none;
    background: none transparent;
}

.main.ui.container > .form > .fields > .field {
  margin: 20px
}

.ui.text.menu .item>img:not(.ui){
  width: 3.5em;
}
