<div class="ui container">
  <div class="introduction">
    <h1 class="ui header">
        <span class="library">
          Beats Music App
        </span>
        <span class="tagline">
          Contributing to Application.
        </span>
        <span class="info">
          Use your best judgment, and feel free to propose changes to this document in a pull request.
        </span>

        <button class="ui basic button" href="https://github.com/sumitridhal/beats-music-app">
          <i class="github icon"></i>
          Github Repo
        </button>
      </h1>
  </div>
</div>
