@font-face {
  font-family: Circular;
  src: url(../fonts/Circular/circular-light.woff2) format('woff2'), url(../fonts/Circular/circular-light.woff) format('woff');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(../fonts/Circular/circular-book.woff2) format('woff2'), url(../fonts/Circular/circular-book.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(../fonts/Circular/circular-medium.woff2) format('woff2'), url(../fonts/Circular/circular-medium.woff) format('woff');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(../fonts/Circular/circular-bold.woff2) format('woff2'), url(../fonts/Circular/circular-bold.woff) format('woff');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Circular;
  src: url(../fonts/Circular/circular-black.woff2) format('woff2'), url(../fonts/Circular/circular-black.woff) format('woff');
  font-weight: 900;
  font-style: normal
}
