.pusher {
  padding-top: 78px;
}

.fixed + .pusher, .fixed ~ .pusher {
  margin-top: 78px;
}

.ui.container {
    width: 90%;
    margin-left: auto!important;
    margin-right: auto!important;
}

.ui.dimmer{
  height: 950px;
  /*margin-top: 52.63px;*/
  /*margin-top: -9.37px;*/
}
