<header class="artist-header" [ngStyle]="{'background-image': 'url(' + artistMeta.images[0].url + ')'}">
  <h1 class="large">{{ artistMeta.name }}</h1>
  <div class="header-buttons">
    <button class="big ui button green">PLAY</button>
    <button class="big ui button black">FAVORITE</button>
  </div>
  <div class="ui center aligned container">
    <div class="ui secondary pointing menu">
      <a class="active item">Overview</a>
      <a class="item">Related Artists</a>
      <a class="item">About</a>
    </div>
  </div>
</header>

<table class="ui very basic celled table">
  <thead>
    <tr>
      <th colspan="8">
        <span>SONGS</span>
        <div class="ui buttons">
          <button class="ui button active">New</button>
          <button class="ui button">Popular</button>
          <button class="ui button">Trend</button>
        </div>
        <div class="ui right floated small button active">
          View All
        </div>
        <div class="ui right floated small button active">
          More
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let t of topTracks; let i=index;'>
      <td class="collapsing">
        <img class="ui mini spaced image" src="{{ t.album.images[0].url }}">
      </td>
      <td class="collapsing">{{ i+1 }}</td>
      <td class="collapsing">
        <i class="plus icon"></i>
      </td>
      <td>{{ t.name }}</td>
      <td>
        <span>{{ t.album.name }}</span>
      </td>
      <td class="collapsing">{{ t.duration_ms | millisecond }}</td>
      <td class="collapsing">
        <i class="heart icon" [ngClass]="{ 'empty': t.popularity < 85 }"></i>
      </td>
      <td class="collapsing">
        <i class="ellipsis horizontal icon"></i>
      </td>
    </tr>
  </tbody>
</table>

<div class="ui box">
  <div class="head">
    <span>ALBUM</span>
    <div class="ui buttons">
      <button class="ui button active">New</button>
      <button class="ui button">Popular</button>
      <button class="ui button">Trend</button>
    </div>
    <div class="ui right floated small button active">
      View All
    </div>
    <div class="ui right floated small button active">
      More
    </div>
  </div>

  <div class="ui six stackable special cards">
    <app-song-card *ngFor='let a of albums; let i=index' [name]="a.name" [meta]='a.artists[0].name' [img]='a.images[0].url'></app-song-card>
  </div>
</div>
