.ui.left.visible.sidebar {
  z-index: 1001;
}

.ui.left.sidebar {
  width: 200px;
}

.ui.left.sidebar {
  transition: all .5s ease, all .5s ease;
}

.ui.menu .item, .ui.vertical.menu .menu .item {
  padding: .75em 1.33333333em;
  color: #a8a9ad;
  font-size: 16px;;
  /*background: -webkit-linear-gradient(#8C278B, #E31837);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/
}

.ui.vertical.menu>.item:first-child{
  padding: .1em 1.33333333em;
}

.ui.vertical.menu .active.item {
  background: rgba(0, 0, 0, .05);
  -webkit-text-fill-color: #CB1C4E;
  border-radius: 0;
  box-shadow: none;
  /*color: #ED3125;*/
}

.ui.divider {
  margin: 0.5rem 1.5em;
}

.ui.vertical.menu .item>i.icon {
  width: 1.18em;
  float: left;
  margin: 0 1.2em 0 0.5em;
}

.ui.vertical.menu .item:before {
  height: 0px;
}

.ui.vertical.menu .item>i.icon {
  font-size: 17.7966px;
  height: 17.7813px;
  line-height: 17.7966px;
}
