/* style.css */

body.transparent {
  background: transparent;
}

body.light {
  background: #fff;
}

body.dark {
  background: #181818;
  color: #fff;
}

body.dark .ui.table, body.dark .ui.menu .item, body.dark .ui.box .head, body.dark .button, body.dark .ui.card>.content>.header, body.dark .ui.cards>.card>.content>.header, body.dark .ui.card .meta, body.dark .ui.cards>.card .meta {
  color: #fff !important;
}

body.dark .cover {
  background-image: linear-gradient(rgb(62, 60, 60), rgb(41, 40, 40) 85%);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: fixed;
  will-change: transform;
}

.ui.card, .ui.cards>.card, .ui.menu {
  background: transparent !important;
}

.transform--84 {
  transform: translate3d(84px, 0, 0);
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.ui.visible.left.sidebar~.fixed, .ui.visible.left.sidebar~.pusher {
  -webkit-transform: translate3d(84px, 0, 0);
  transform: translate3d(84px, 0, 0);
}

.hide-scroll {
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.ui.top.menu {
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.pusher {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  min-height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.pusher:after {
  position: fixed;
  top: 0;
  right: 0;
  content: '';
  background-color: rgba(0, 0, 0, .4);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  will-change: opacity;
  z-index: 1000;
}
