/* style.css */

body.transparent {
  background: transparent;
}

body.light {
  background: #fff;
}

body.dark {
  background: #1A1A1A;
  color: #fff;
}

.dark .ui.table,.dark .ui.table thead th, .dark .ui.menu .item, .dark .ui.box .head, .dark .button, .dark .ui.card>.content>.header, .dark .ui.cards>.card>.content>.header {
  color: #fff !important;
}

.dark .ui.card .meta, .dark .ui.cards>.card .meta, .dark table>tbody>tr>td:nth-child(5) {
  color: #c3b9b9 !important;
}

.dark table>tbody>tr>td {
  font-size: 1em;
  font-weight: 300;
}

.dark .ui.celled.table tbody tr td {
  border-bottom: 1px solid rgba(213, 220, 228, 0.1) !important;
}

.dark .cover {
  background-image: linear-gradient(rgb(62, 60, 60), rgb(41, 40, 40) 85%);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: fixed;
  will-change: transform;
}

.ui.card, .ui.cards>.card, .ui.menu {
  background: transparent !important;
}

.transform--84 {
  transform: translate3d(84px, 0, 0);
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.ui.visible.left.sidebar~.fixed, .ui.visible.left.sidebar~.pusher {
  -webkit-transform: translate3d(84px, 0, 0);
  transform: translate3d(84px, 0, 0);
}

.hide-scroll {
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.ui.top.menu {
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.pusher {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  min-height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.pusher:after {
  position: fixed;
  top: 0;
  right: 0;
  content: '';
  background-color: rgba(0, 0, 0, .4);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  will-change: opacity;
  z-index: 1000;
}
